.piano-start {
    color:lightslategrey;
    width:100px;
    height:120px;
    background-color:cadetblue;
    border: 2px solid black;
    border-radius: 10px;
    position:absolute;

    animation-duration:2s;
    animation-name: create-piano;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction:normal;
    animation-fill-mode: forwards;
}

.white-key {
    position:relative;
    color: white;
    background-color: white;
    width:50px;
    height:120px;
    border:2px solid black;
    border-radius: 1px;

    animation-duration:2s;
    animation-name: create-key;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction:normal;
    animation-fill-mode: forwards;
}

.white-key:hover {
    background-color:royalblue;
}

.black-key {
    color:black;
    background-color:black;
    width:30px;
    height:80px;
    border:2px solid black;
    border-radius: 2px;

    z-index: 1;

    transform:skew(-20deg);

    /*animation-duration: 2s;
    animation-name: create-key;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction:normal;
    animation-fill-mode:forwards;*/
}

.black-key:hover {
    background-color:orange;
}

.a-sharp {
    position: absolute;
    transform: translateX(240px) translateY(-124px) skew(-20deg);
}

.c-sharp {
    position: absolute;
    transform: translateX(356px) translateY(-124px) skew(-20deg);
}

.d-sharp {
    position: absolute;
    transform: translateX(412px) translateY(-124px) skew(-20deg);
}

.f-sharp {
    position: absolute;
    transform: translateX(524px) translateY(-124px) skew(-20deg);
}

.g-sharp {
    position: absolute;
    transform: translateX(580px) translateY(-124px) skew(-20deg);
}

.a-sharp-2 {
    position: absolute;
    transform: translateX(636px) translateY(-124px) skew(-20deg);
}

.c-sharp-2 {
    position: absolute;
    transform: translateX(748px) translateY(-124px) skew(-20deg);
}

.d-sharp-2 {
    position: absolute;
    transform: translateX(804px) translateY(-124px) skew(-20deg);
}

.f-sharp-2 {
    position: absolute;
    transform: translateX(916px) translateY(-124px) skew(-20deg);
}

.g-sharp-2 {
    position: absolute;
    transform: translateX(972px) translateY(-124px) skew(-20deg);
}

.a-sharp-3 {
    position: absolute;
    transform: translateX(1028px) translateY(-124px) skew(-20deg);
}

.c-sharp-3 {
    position: absolute;
    transform: translateX(1140px) translateY(-124px) skew(-20deg);
}

.d-sharp-3 {
    position: absolute;
    transform: translateX(1196px) translateY(-124px) skew(-20deg);
}

.f-sharp-3 {
    position: absolute;
    transform: translateX(1308px) translateY(-124px) skew(-20deg);
}

.g-sharp-3 {
    position: absolute;
    transform: translateX(1364px) translateY(-124px) skew(-20deg);
}

.a-sharp-4 {
    position: absolute;
    transform: translateX(1420px) translateY(-124px) skew(-20deg);
}

.c-sharp-4 {
    position: absolute;
    transform: translateX(1532px) translateY(-124px) skew(-20deg);
}

.d-sharp-4 {
    position: absolute;
    transform: translateX(1588px) translateY(-124px) skew(-20deg);
}

.f-sharp-4 {
    position: absolute;
    transform: translateX(1700px) translateY(-124px) skew(-20deg);
}

.g-sharp-4 {
    position: absolute;
    transform: translateX(1756px) translateY(-124px) skew(-20deg);
}

.a-sharp-5 {
    position: absolute;
    transform: translateX(1812px) translateY(-124px) skew(-20deg);
}

.white-key-container {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 2px;
}

@keyframes create-piano {
    0%{
        border-radius:0%;
    }
    100%{
        background-color:lightslategray;
        transform: skew(-20deg) translateX(200px);
        border-radius:0%;
        width:776px;
        height:120px;
    }
}

@keyframes create-key {
    0%{

    }
    100%{
        transform: skew(-20deg) translateX(200px);     
    }
}

@keyframes move-piano {
    0%{
        background-color:lightslategray;
        transform: skew(-20deg) translateX(300px);
        border-radius:0%;
        width:800px;
        height:120px;
    }
    100%{
        background-color:lightslategray;
        transform: skew(-20deg) translateX(300px) translateY(300px);
        border-radius:0%;
        width:800px;
        height:120px;
    }
}

.piano-start.move {
    animation-name: move-piano;
}

.piano-start.create {
    animation-name: create-piano;
}