.container {
    display: flex;
    align-items: left;
    justify-content: space-between;
    font-size: 18px;
}

.container a {
    flex: 1;
    text-decoration: none;
}

p {
    margin-left: 20px;
    margin-right: 50%;
    line-height: 1.5;
}

.horizontal-margin {
    margin-left: 20px;
    margin-right: 50%;
}

.wp-block-heading {
    color: mediumvioletred;
}

html {
    scroll-behavior: smooth;
}

a:link,
a:visited {
    color: black;
    text-decoration: none;
}

.rectangle {
    width: 100%;
    height: 60px;
    background-color: mediumpurple;
    border: 2px solid black;
    color: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}